section{
  margin: 0 auto;
  padding: 0 24px;
}
.button{
  width: 413px;
  height: 75px;
  line-height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 38px;
  box-shadow: 0px 15px 30px #0000004D;
  margin: 0 auto;
  cursor: pointer;
  font-size: 28px;
  font-weight: 700;
  color: #ffffff;
}
.button.purple{
  background-color: #6662d9;
}
.button.black{
  background-color: #232734;
}
.button i{
  display: block;
  width: 26px;
  height: 26px;
  background: url(../img/pc/expand-right.svg) no-repeat center/cover;
  margin-left: 5px;
}
.section01{
  min-height: 1080px;
  background-image: url(../img/pc/main_bg@2x.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section01 .caption{
  font-size: 23px;
  padding-top: 100px;
  padding-bottom: 20px;
  text-align: center;
  color: #fdfdfd;
}
.section01 .title{
  font-size: 100px;
  text-align: center;
  line-height: 115px;
  color: #fcfcfd;
}
.section01 .title strong{
  font-size: 100px;
  text-align: center;
  line-height: 115px;
  color: #bf242b;
}
.section01 .subtitle {
  font-size: 22px;
  text-align: center;
  color: #f8f8f8;
  padding-top: 35px;
  padding-bottom: 50px;
}
.section01 .subtitle strong{
  font-size: 22px;
  text-align: center;
  color: #f8f8f8;
}
.section02{
  background-color: #f7f9fb;
  padding-bottom: 66px;
}
.section02 .title{
  font-size: 54px;
  color: #191919;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 50px;
}
.section02 .container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.section02 .container .item{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 85px;
}
.section02 .container .item img{
  width: 117px;
  height: 100px;
  margin-bottom: 12px;
}
.section02 .container .item p{
  font-size: 21px;
  color: #484d4d;
  text-align: center;
  line-height: 31px;
}
.section02 .container .item p strong{
  font-size: 21px;
  color: #484d4d;
  text-align: center;
  font-weight: 700;
}
.section02 .container .item + .item{
  border-left: 1px solid #e1e1e1;
}
.section03{
  background-color: #252734;
  padding-bottom: 102px;
}
.section03 .title{
  padding-top: 100px;
  padding-bottom: 14px;
  font-size: 54px;
  text-align: center;
  color: #f5f5f5;
}
.section03 .subtitle{
  font-size: 18px;
  color: #d9d9d9;
  text-align: center;
  margin-bottom: 56px;
}
.section03 .container{
  max-width: 1300px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.section03 .item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  gap: 70px;
}
.section03 .item.left{
  background-image: url(../img/pc/intro-left.png);
}
.section03 .item.right{
  background-image: url(../img/pc/intro-right.png);
}
.section03 .item img{
  width: 580px;
  height: auto;
  max-width: 50%;
}
.section03 .item img.pc{
  display: block;
}
.section03 .item img.mo{
  display: none;
}
.section03 .item .content{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section03 .item .content .top{
  width: 460px;
  padding-bottom: 30px;
  border-bottom: 1px dashed #e1e1e1;
}
.section03 .item .content .name{
  font-size: 44px;
  margin-bottom: 20px;
  color: #f5f5f5;
}
.section03 .item .content .name strong{
  font-size: 44px;
}
.section03 .item .content .propensity{
  font-size: 28px;
  padding-bottom: 30px;
}
.section03 .item .content .bottom{
  margin-top: 20px;
}
.section03 .item .content .bottom p{
  line-height: 27px;
  font-size: 17px;
  color: #aaaaaa;
}
.section03 .item .content .bottom .color{
  font-weight: 500;
}
.section03 .item.left .content .name strong{
  color: #6662d9;
}
.section03 .item.left .content .propensity{
  color: #cbc9f4;
}
.section03 .item.left .content .color{
  color: #cbc9f4;
}
.section03 .item.right .content{
  text-align: right;
  align-items: flex-end;
}
.section03 .item.right .content .name strong{
  color: #20c9c9;
}
.section03 .item.right .content .propensity{
  color: #b2e5e5;
}
.section03 .item.right .content .color{
  color: #b2e5e5;
}
.section04{
  background: url(../img/pc/bg2@2x.png) no-repeat center/cover;
  padding-bottom: 102px;
}
.section04 .title{
  font-size: 54px;
  color: #191919;
  text-align: center;
  padding-top: 110px;
  margin-bottom: 46px;
}
.section04 .title.pt127{
  padding-top: 127px;
}
.section04 .title br{
  display: none;
}
.section04 .container{
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
}
.section04 .container .column{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.section04 .container .column .item{
  flex: 1;
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 205px 42px 0 28px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.section04 .container .column .item.bg1{
  background-image: url(../img/pc/group1.png);
}
.section04 .container .column .item.bg2{
  background-image: url(../img/pc/group2.png);
}
.section04 .container .column .item.bg3{
  background-image: url(../img/pc/group3.png);
}
.section04 .container .column .item.bg4{
  background-image: url(../img/pc/group4.png);
}
.section04 .container .column .item .item__title{
  font-size: 34px;
  color: #ffffff;
  margin-bottom: 24px;
}
.section04 .container .column .item .item__content{
  font-size: 18px;
  color: #e2e2e2;
}
.section04 .promise .wrapper{
  max-width: 1300px;
  display: flex;
  gap: 20px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.section04 .promise .wrapper .item{
  flex: 1;
  height: 331px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 66px 35px 0 35px;
  border-radius: 10px;
  box-shadow: 0px 10px 20px #3C405F33;
  background-color: #ffffff;
}
.section04 .promise .wrapper .item img{
  width: 88px;
  height: 88px;
  margin-bottom: 12px;
}
.section04 .promise .wrapper .item i{
  display: block;
  width: 25px;
  height: 4px;
  margin: 0 auto;
  background-color: #d5d5d5;
}
.section04 .promise .wrapper .item p{
  font-size: 20px;
  color: #191919;
  text-align: center;
  margin-top: 24px;
}
.section05{
  background-color: #252734;
  padding-bottom: 130px;
}
.section05 .title{
  font-size: 54px;
  color: #ffffff;
  text-align: center;
  padding-top: 100px;
  margin-bottom: 50px;
}
.section05 .container{
  max-width: 1300px;
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
  margin: 0 auto;
}
.section05 .container .item{
  width: calc(25% - 21px);
  height: 229px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 3px 20px #00000014;
}
.section05 .container .item img{
  width: 100%;
  height: auto;
  margin-bottom: 26px;
}
.section05 .container .item .name{
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #191919;
  margin-bottom: 10px;
}
.section05 .container .item .content{
  display: flex;
  justify-content: center;
  align-items: center;
}
.section05 .container .item .content span{
  font-size: 20px;
  color: #7c7c7c;
}
.section05 .container .item .content .red{
  font-size: 20px;
  font-weight: 700;
  color: #e01b1b;
  display: flex;
  align-items: center;
  margin-left: 4px;
}
.section05 .container .item .content .red::after{
  content : '';
  display: block;
  width: 0;
  height: 0;
  border-top: 2px solid transparent;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 12px solid #e01b1b;
  margin-left: 10px;
}
.section06{
  background-color: #6662d9;
  padding-bottom: 102px;
}
.section06 .title{
  font-size: 54px;
  color: #ffffff;
  text-align: center;
  padding-top: 100px;
  margin-bottom: 14px;
}
.section06 .subtitle{
  font-size: 18px;
  text-align: center;
  color: #dad9f5;
  margin-bottom: 45px;
}
.section06 .container{
  max-width: 1300px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 60px;
}
.section06 .container .swiper-wrapper .swiper-slide{
  width: 328px;
  height: 397px;
  display: flex;
  flex-direction: column;
  padding: 32px 24px;
  border-radius: 24px;
  background-color: #ffffff;
  box-shadow: 0px 3px 20px #00000014;
  opacity: .2;
  transition: opacity .3s ease-in-out;
}
.section06 .container .swiper-wrapper .swiper-slide.active{
  opacity: 1;
}
.section06 .container .swiper-wrapper .swiper-slide img{
  width: 30px;
  height: 30px;
  margin-bottom: 20px;
}
.section06 .container .swiper-wrapper .swiper-slide .content{
  min-height: 177px;
  font-size: 16px;
  color: #393939;
  line-height: 28px;
}
.section06 .container .swiper-wrapper .swiper-slide .date{
  font-size: 15px;
  color: #676767;
  margin-top: 24px;
  margin-bottom: 14px;
}
.section06 .container .swiper-wrapper .swiper-slide .name{
  border-top: 1px solid #e5e9ed;
  padding-top: 14px;
  font-size: 20px;
  font-weight: 700;
  color: #191919;
}
.section06 .container i{
  display: block;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background: url(../img/pc/arrow-left-circle.svg) no-repeat center/cover;
}
.section06 .container i.swiper-button-prev{
  left: 24px;
  transform: scaleX(-1) translateY(-50%);
}
.section06 .container i.swiper-button-next{
  right: 24px;
  transform: scaleX(1) translateY(-50%);
}
.swiper-button-next:after,
.swiper-button-prev:after{
  display: none;
}
.section06 .container .swiper-button-disabled{
  display: none;
}
.section07{
  padding-top: 90px;
  padding-bottom: 80px;
  background: url(../img/pc/bg3.png) no-repeat center/cover;
}
.section07 .title{
  font-size: 45px;
  text-align: center;
  color: #f5f5f5;
  margin-bottom: 17px;
}
.section07 .subtitle{
  font-size: 20px;
  text-align: center;
  color: #bebebe;
  margin-bottom: 34px;
}
.section07 br{
  display: none;
}
.section08{
  background-color: #1e1f24;
  padding-top: 70px;
  padding-bottom: 80px;
}
.section08 .container{
  max-width: 1300px;
  position: relative;
  margin: 0 auto;
}
.section08 .container .title{
  font-size: 30px;
  color: #f5f5f5;
  margin-bottom: 26px;
}
.section08 .container .top{
  padding-bottom: 20px;
  border-bottom: 1px solid #33353c;
}
.section08 .container .top .content{
  font-size: 16px;
  line-height: 26px;
  color: #bebebe;
}
.section08 .container .bottom{
  padding-top: 20px;
}
.section08 .container .bottom .content{
  line-height: 30px;
  color: #bebebe;
}
#formModal{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
}
#formModal .bg{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.99);
}
#formModal .container{
  width: 513px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0px 3px 30px #0000000F;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 96px 50px 40px;
}
#formModal .title{
  font-size: 40px;
  margin-bottom: 33px;
}
#formModal .form{
  display: flex;
  flex-direction: column;
}
#formModal .form .form__title{
  font-size: 14px;
  color: #191919;
  margin-bottom: 12px;
}
#formModal .form input[type=text],
#formModal .form input[type=tel]{
  flex: 1;
  height: 50px;
  line-height: 50px;
  border: 1px solid #dfe2e5;
  box-shadow: inset 0px 3px 6px #00000014;
  border-radius: 4px;
  padding-left: 16px;
  font-size: 16px;
  font-weight: 500;
  color: #191919;
}
#formModal .form input[type=text] + .form__title{
  margin-top: 12px;
}
#formModal .form .block{
  flex: 1;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 25px;
}
#formModal .form .block input{
  width: calc(100% / 3);
}
#formModal label{
  display: flex;
  align-items: center;
  cursor: pointer;
}
#formModal label + label{
  margin-top: 12px;
}
#formModal label input[type=checkbox]{
  width: 21px;
  height: 21px;
  background: url(../img/pc/check-gray.svg) no-repeat center/cover;
  margin-right: 6px;
}
#formModal label input[type=checkbox]:checked{
  background: url(../img/pc/check-purple.svg) no-repeat center/cover;
}
#formModal label span{
  font-size: 15px;
  color: #191919;
}
#formModal .form__button{
  width: 413px;
  height: 75px;
  line-height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 38px;
  box-shadow: 0px 15px 30px #0000004D;
  margin: 0 auto;
  cursor: pointer;
  font-size: 28px;
  font-weight: 700;
  color: #ffffff;
  background-color: #6662d9;
  margin-top: 50px;
}